# .gitignore file for ECE 593 Final Project

$ cat .gitignore

# skip everything in /docs
# these are just PDFs and Word files

/docs/*

# skip everything in input files
# these are long trace files which can clog git

/inputs/*

# skip everything in the hdl/work folder
# this is created by Questa when using vlog/vsim

/hdl/work/*

# skip everything in results
# text files & PDF waveform plot

/results/*

# skip everything in Micron folder
# these HDL files are just for reference

/hdl/Micron_MT47H32M16_37E/*